body {
    background-image: url("./images/background.png");
    background-size: cover;
    padding-left: 20rem;
    padding-right: 5rem;
    padding-top: 7rem;
    font-family: 'Odibee Sans', cursive;
}

#my-canvas {
    background-color: #222222e8;
    display: none;
    margin-bottom: 50px;
    margin-left: 6rem;
}

#start-screen {
    display: flex;
    flex-direction: row;
    color: white;
    background-color: #222222e8;
    width: 80%;
    padding-right: 2rem;
}

#start-screen img {
    height: 15rem;
    padding: 3rem;
}

.instructions {
    flex-direction: column;
    text-align: center;
}

.instructions h2 {
    font-size: 6rem ;
    letter-spacing: 0.03em;
    text-shadow: 5px 5px #e91e63
    ;
    margin-top: 1rem;
} 

.instructions p {
    font-size: 3rem;
    letter-spacing: 0.1em;
    text-shadow: 3px 3px rgb(66, 65, 65);
}

#start-btn {
    width: 80%;
    align-content: flex-end;
    margin-top: 4rem;
    height: 6rem;
    background-color: #222222e8;
    color: white;
    text-shadow: 5px 5px #02a9f4;
    font-size: 4.5rem;
    font-family: 'Odibee Sans', cursive;
    cursor: pointer;    
}

#start-btn:hover {
    color: #02a9f4;
    text-shadow: 5px 5px white;
}


#scores {
    display: none;
    flex-direction: column;
    flex-direction: row;
}

#scores h1, 
h2 {
    margin: 0;
    font-size: 5rem;
    color: white;

}

.levels {
    flex-direction: column;
    text-align: center;
    text-shadow: 5px 5px rgb(66, 65, 65);
    letter-spacing: 0.1em;
}

.levels h1 {
    margin-bottom: 6rem;
}

.levels h2 {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

#level-2{
    display: none;
    width: 11rem;
    background-color: #e91e63;
    color: white;
    font-size: 7rem;
    font-family: 'Odibee Sans', cursive;
    margin-left: 5.7rem;
    margin-top: 5rem;
    text-shadow: 5px 5px rgb(44, 43, 43);
    letter-spacing: 0.02em;
    cursor: pointer;
}

#level-2:hover {
    color: #02a9f4;
    text-shadow: 5px 5px white;
}

#level-3 {
    display: none;
    width: 11rem;
    background-color: #e91e63;
    color: white;
    font-size: 7rem;
    font-family: 'Odibee Sans', cursive;
    margin-left: 5.7rem;
    margin-top: 5rem;
    text-shadow: 5px 5px rgb(44, 43, 43);
    letter-spacing: 0.02em; 
    cursor: pointer;
}

#level-3:hover {
    color: #02a9f4;
    text-shadow: 5px 5px white;
}

#gameover-screen {
    display: none;
    color: white;
    background-color: #222222e8;
    width: 80%;
    font-family: 'Odibee Sans', cursive;
    flex-direction: column;
    padding: 1rem 4rem 4rem 4rem;
    text-align: center;
}

#gameover-screen img {
    height: 8rem;
    margin-right: 2rem;
    margin-top: 3rem;
}
#gameover-screen h1 {
    font-size: 8rem;
    text-shadow: 5px 5px rgb(44, 43, 43);
}

#gameover-screen h2 {
    font-size: 5rem;
    text-shadow: 5px 5px rgb(44, 43, 43);
}






